<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="2bbb0bfc-af3c-4cfb-8108-a90583854f68"
    Publisher="CN=Nishanth S"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="2bbb0bfc-af3c-4cfb-8108-a90583854f68" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>BatteryNotifier</DisplayName>
    <PublisherDisplayName>Nishanth S</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BatteryNotifier.App">
      <Extensions>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask
					  TaskId="LaunchOnStartupTaskId"
            Enabled="false"
					  DisplayName="Battery Notifier" />
        </uap5:Extension>
      </Extensions>
      <uap:VisualElements
        DisplayName="BatteryNotifier"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="BatteryNotifier"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>